node_modules/
.expo/
dist/
npm-debug.*
.idea
.vscode
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android
index.js
Readme.md
*.lock

# macOS
.DS_Store
package-lock.json
package.json
yarn.lock
